listen: :443
acme:
  domains:
    - DOMAIN-OR-IP
  email: EMAIL-FOR-SSL-REGISTRATION
auth:
  type: http
  http:
    url: http://127.0.0.1:3000
    insecure: false
masquerade:
  type: proxy
  proxy:
    url: https://news.ycombinator.com/
    rewriteHost: true
trafficStats:
  listen: :9999
  secret: RANDOM_STRING
